* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}
h1 {
    letter-spacing: 12px;
    font-size: 45px;
    margin: 20px;
}
.score-board {
    border: solid black;
    width: 200px;
    margin: 30px 0px 20px 225px;

}
#time-left {
    padding: 5px
}
#matches {
    padding: 0px 0px 5px 0px;
}
.card {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    position: relative;
    cursor: grab; /* can change this to a hover thing later*/
    border: black solid;
}
img {
    height: 100px;
    width: 100px;
}
.card-front,
.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 1s;
    backface-visibility: hidden;
    text-align: center;
}
.card-back {
    transform: rotateY(180deg);
    user-select: none;
    background-color: pink;
}
.card-front {
    background-color: lightblue;
    text-transform: uppercase;
}
.flipped .card-front {
    transform: rotateY(180deg);
}
.flipped .card-back {
    transform: rotateY(0);
}
.card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-content: center;
    row-gap: 5px;
    column-gap: 5px;
    margin: 20px
}
#more-directions {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    width: 350px;
    margin-left: 155px;
}