* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    text-align: center;
}
.card {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    position: relative;
    cursor: grab; /* can change this to a hover thing later*/
}
.card-front,
.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 1s;
    backface-visibility: hidden;
    border-radius: 10px;
    text-align: center;
}
.card-back {
    transform: rotateY(180deg);
    user-select: none;
    background-color: pink;
}
.card-front {
    background-color: lightblue;
}
.flipped .card-front {
    transform: rotateY(180deg);
}
.flipped .card-back {
    transform: rotateY(0);
}
.card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-content: center;
    row-gap: 3px;
    column-gap: 3px;
}