* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    min-height: 100vh;
}
.card {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    position: relative;
    cursor: grab; /* can change this to a hover thing later*/
    background-color: grey;
}
.card-front,
.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 1s;
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
    user-select: none;
}
.flipped .card-front {
    transform: rotateY(180deg);
}
.flipped .card-back {
    transform: rotateY(0);
}